
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Update Your Task</h1>
                    <h5>Here.... </h5>
                </div>
                <hr>
                <form  (submit)="function1()">

                    <!-- <div class="mb-3">
                        <label class="form-label">user ID</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uuid" [(ngModel)]="customer.userId" placeholder="enter your pizza id " >
                    </div> -->
                    <!-- <div class="mb-3">
                        <label class="form-label">User Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="first_name" [(ngModel)]="customer.userName" >
                    </div> -->

                    <div class="mb-3">
                        <label class="form-label">New Task</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="last_name" [(ngModel)]="customer.task" >

                    </div>
<!-- 
                    <div class="mb-3">
                        <label class="form-label">street</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="street" [(ngModel)]="customer.street" >
                      
                    </div>
                    <div class="mb-3">
                        <label class="form-label">address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="address" [(ngModel)]="customer.address" >
                      
                    </div>

                    <div class="mb-3">
                        <label class="form-label">city</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="city" [(ngModel)]="customer.city" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">state</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="state" [(ngModel)]="customer.state" >
                    </div> -->
                    <!-- <div class="mb-3">
                        <label class="form-label">email</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="email" [(ngModel)]="customer.email" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">phone</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="phone" [(ngModel)]="customer.phone" >
                    </div> -->
                    

                    <button type="submit" class="btn btn-primary">update</button>

                </form>
                <a routerLink="/home">N0 Need to update go back!!</a>

            </div>
        </div>
    </div>
</div>
