.card{
    margin-top: 15px;
    border: 5px solid rgb(255, 187, 0);
    width : 550px;
    padding: 45px;
    position: absolute;
    top: 25%;
    left:35%;
}
a{
    margin-top: 15px;
}
#second-txt{
    position: absolute;
    top: 13px;
    left: 1680px;
} 
h2{
    color: rgb(242, 227, 18);
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    margin-left: 55px;
    opacity: 2.5;
}
nav{
    opacity: 0.8;
}

.form-control:focus:valid {
   
    box-shadow: 0 0 0 0.2rem rgba(18, 232, 6, 0.25);
    opacity: 0.9;
} 


.form-control:focus:invalid {
   
    box-shadow: 0 0 0 0.2rem rgba(233, 17, 10, 0.918);
    opacity: 0.5;
}
.changewarningcolor{
    color: brown;
}
